<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

  <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="/apps/test/logs/aa.log" />
    <param name="MaxFileSize" value="2000KB" />
    <param name="MaxBackupIndex" value="5" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%p [%d{dd MMM yyyy HH:mm:ss}] - {%C{1}} [%M] - %m%n" />
    </layout>
  </appender>

  <category name="java.sql">
    <priority value="debug" />
    <appender-ref ref="fileAppender" />
  </category>

  <category name="com.ibatis">
    <priority value="debug" />
    <appender-ref ref="fileAppender" />
  </category>

  <category name="com.test.scm">
    <priority value="debug" />
    <appender-ref ref="fileAppender" />
  </category>
  
</log4j:configuration>